<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Tracing System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Attendance Tracing System</h2>
        <form id="attendanceForm">
            <div class="form-group">
                <label for="employee_id">Employee ID:</label>
                <input type="text" class="form-control" id="employee_id" name="employee_id" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit Attendance</button>
        </form>
        <hr>
        <h3>Attendance Records:</h3>
        <ul id="attendanceRecords"></ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#attendanceForm').submit(function(event) {
                event.preventDefault();
                var employeeId = $('#employee_id').val();

                $.ajax({
                    type: 'POST',
                    url: '/submit_attendance',
                    data: {
                        employee_id: employeeId
                    },
                    success: function(response) {
                        alert(response.message);
                        $('#employee_id').val('');
                    }
                });
            });

            
            function fetchAttendanceRecords() {
                $.ajax({
                    type: 'GET',
                    url: '/get_attendance',
                    success: function(response) {
                        var records = response.attendance_records;
                        var attendanceList = $('#attendanceRecords');
                        attendanceList.empty();

                        records.forEach(function(record) {
                            var li = $('<li>').text('Employee ID: ' + record.employee_id + ', Timestamp: ' + record.timestamp);
                            attendanceList.append(li);
                        });
                    }
                });
            }

            
            fetchAttendanceRecords();

            
            setInterval(fetchAttendanceRecords, 10000); 
        });
    </script>
</body>
</html>
